section {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
}

.meal {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.meal h3 {
  margin: 0 0 0.25rem 0;
}

.order {
  font-style: italic;
}

.price {
  margin-top: 0.25rem;
  font-weight: bold;
  color: #d1f60a;
  font-size: 1.25rem;
}